AzureComponents/LogicApp2.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_blob": {
                "inputs": {
                    "body": "@body('Get_Video_Index')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/outputdata",
                        "name": "@{body('Get_Video_Index')?['name']}_jsonExtractor.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Get_Video_Index": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Create_or_update_document": {
                "inputs": {
                    "body": "@body('Get_Video_Index')",
                    "headers": {
                        "x-ms-documentdb-raw-partitionkey": "\"@{body('Get_Video_Index')['name']}\""
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('usecase2-json-output')}/colls/@{encodeURIComponent('video-insights')}/docs"
                },
                "runAfter": {
                    "Create_blob": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_Account_Access_Token": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['videoindexer-v2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/auth/@{encodeURIComponent('trial')}/Accounts/@{encodeURIComponent('0202a953-304d-48e2-b960-7a3b7bfc0ab2')}/AccessToken",
                    "queries": {
                        "allowEdit": true
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Get_Video_Index": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['videoindexer-v2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent('trial')}/Accounts/@{encodeURIComponent('0202a953-304d-48e2-b960-7a3b7bfc0ab2')}/Videos/@{encodeURIComponent(triggerOutputs()['queries']['id'])}/Index",
                    "queries": {
                        "accessToken": "@body('Get_Account_Access_Token')",
                        "language": "English"
                    }
                },
                "runAfter": {
                    "Get_Account_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/resourceGroups/FSI_Autism_Hackathon_UseCae2_LogicApps-RG/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                },
                "documentdb": {
                    "connectionId": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/resourceGroups/FSI_Autism_Hackathon_UseCae2_LogicApps-RG/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "id": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/providers/Microsoft.Web/locations/eastus/managedApis/documentdb"
                },
                "videoindexer-v2": {
                    "connectionId": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/resourceGroups/FSI_Autism_Hackathon_UseCae2_LogicApps-RG/providers/Microsoft.Web/connections/videoindexer-v2",
                    "connectionName": "videoindexer-v2",
                    "id": "/subscriptions/698b8b44-b1f1-4dbe-a732-fb9428fd3c77/providers/Microsoft.Web/locations/eastus/managedApis/videoindexer-v2"
                }
            }
        }
    }
}